[submodule "src/content/test-private"]
	path = src/content/test-private
	url = git@github.com:3x10RaiseTo8/test-private.git
	branch = main
[submodule "test-private"]
	path = test-private
	url = https://github.com/3x10RaiseTo8/test-private.git
	branch = main
