---
import { getCollection } from "astro:content";
import { getSortedPublishedPosts } from "@/utils/posts";

import Layout from "@/layouts/Layout.astro";
import ListPosts from "@/components/ListPosts.astro";

const allPosts = await getCollection("posts");
const publishedPosts = getSortedPublishedPosts(allPosts);
// const publishedPosts = allPosts;
---

<Layout title="Posts">
  <h1>Posts</h1>
  <ListPosts posts={publishedPosts} />
</Layout>
