---
import { getCollection } from "astro:content";
import { getSortedPublishedPosts } from "@/utils/posts";

import Layout from "@/layouts/Layout.astro";

const allPosts = await getCollection("posts");
const publishedPosts = getSortedPublishedPosts(allPosts);
---

<Layout>
  <h1>Posts</h1>
  <ul>
    {
      publishedPosts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
