---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<h1>My Blogssssssss</h1>
<p>Here are all my blog posts:</p>
<p>Updated</p>
<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.data.slug}`}>{post.data.title} built</a>
      </li>
    ))
  }
</ul>

<style>
  h1 {
    color: red;
    size: 50px;
  }
  p {
    color: blue;
  }
  ul {
    color: green;
  }
  li {
    color: yellow;
  }
</style>
