/*! Copyright Abhishek Singh, abhishe.com */

@import url(flexoki.css);
@import url(normalize.css);
@import url(typography.css);
/* @import url(debugger.css); */

@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');


*,
*::before,
*::after {
  scrollbar-gutter: stable;
  ;
}

/* @link https://utopia.fyi/type/calculator */
:root {

  --font-size--2: clamp(0.7378rem, 0.7023rem + 0.1578vw, 0.8247rem);
  --font-size--1: clamp(0.8854rem, 0.8428rem + 0.1894vw, 0.9896rem);
  --font-size-0: clamp(1.0625rem, 1.0114rem + 0.2273vw, 1.1875rem);
  --font-size-1: clamp(1.275rem, 1.2136rem + 0.2727vw, 1.425rem);
  --font-size-2: clamp(1.53rem, 1.4564rem + 0.3273vw, 1.71rem);
  --font-size-3: clamp(1.836rem, 1.7476rem + 0.3927vw, 2.052rem);
  --font-size-4: clamp(2.2032rem, 2.0972rem + 0.4713vw, 2.4624rem);
  --font-size-5: clamp(2.6438rem, 2.5166rem + 0.5655vw, 2.9549rem);


  /* Scrollbar vars */
  --sb-size: 14px;
  --sb-track-color: var(--bg);
  --sb-thumb-color: var(--tx-2);

  /* Colors */
  --tx: var(--flexoki-black);
  --bg: var(--flexoki-paper);
  --tx-2: var(--flexoki-600);
  --bg-2: var(--flexoki-50);
  --ui: var(--flexoki-100);
  --ac: var(--flexoki-cyan-600)
}

/*     Scrollbar Styles
==================================
*/

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 50px;
  border: 2px solid var(--sb-track-color)
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/*     Site Grid
======================== 
*/

.site-grid {
  --gap: 0.9rem;
  --full: minmax(var(--gap), 1fr);
  --content: min(45rem, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-rows: [view-start] auto [main-start] 1fr [main-end] auto [view-end];
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];


  min-block-size: 100vh;
  min-block-size: 100dvh;
}

.site-grid>* {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}


/*     Random 
====================
*/
main {
  margin-block: 1.2rem;
}

/*     Tables
======================
 */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--tx);
  vertical-align: top;
  text-align: left;
}

thead {
  background: var(--bg-2);
}

.table-wrap {
  width: 100%;
  overflow-x: auto;
}