/*! Copyright Abhishek Singh, abhishe.com */

@import url(flexoki.css);
@import url(normalize.css);
/* @import url(debugger.css); */

*,
*::before,
*::after {
  scrollbar-gutter: stable;
  ;
}

:root {

  /* @link https://utopia.fyi/type/calculator */
  /* 17 font on 360px --- 19 font on 1240px */
  /* 1.2 to 1.2 */
  --font-size--2: clamp(0.7378rem, 0.7023rem + 0.1578vw, 0.8247rem);
  --font-size--1: clamp(0.8854rem, 0.8428rem + 0.1894vw, 0.9896rem);
  --font-size-0: clamp(1.0625rem, 1.0114rem + 0.2273vw, 1.1875rem);
  --font-size-1: clamp(1.275rem, 1.2136rem + 0.2727vw, 1.425rem);
  --font-size-2: clamp(1.53rem, 1.4564rem + 0.3273vw, 1.71rem);
  --font-size-3: clamp(1.836rem, 1.7476rem + 0.3927vw, 2.052rem);
  --font-size-4: clamp(2.2032rem, 2.0972rem + 0.4713vw, 2.4624rem);
  --font-size-5: clamp(2.6438rem, 2.5166rem + 0.5655vw, 2.9549rem);

  /* 18 to 20 px 1.2 to 1.25 */
  --font-size--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --font-size--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --font-size-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --font-size-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --font-size-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --font-size-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --font-size-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --font-size-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

  --font-body: var(--font-sans), var(--font-jp), var(--font-symbols), var(--font-symbols-2), system-ui, sans-serif;
  --font-display: var(--font-serif-display), var(--font-jp), var(--font-symbols), var(--font-symbols-2), ui-serif, serif;
  --font-first-character: var(--font-fancy), var(--font-jp), var(--font-symbols), var(--font-symbols-2), ui-serif, serif;

  color-scheme: light dark;

  /* Light mode Colors */
  --tx: var(--flexoki-black);
  --bg: var(--flexoki-paper);
  --tx-2: var(--flexoki-600);
  --bg-2: var(--flexoki-50);
  --ui: var(--flexoki-100);
  --ac: var(--flexoki-cyan-600);
  --ac-2: var(--flexoki-cyan-200);

  /* Scrollbar vars */
  --sb-size: 14px;
  --sb-track-color: var(--bg);
  --sb-thumb-color: var(--tx-2);
}

[data-theme="dark"] {
  /* Dark Mode Colors */
  --tx: var(--flexoki-200);
  --bg: var(--flexoki-black);
  --tx-2: var(--flexoki-400);
  --bg-2: var(--flexoki-950);
  --ui: var(--flexoki-900);
  --ac: var(--flexoki-cyan-200);
  --ac-2: var(--flexoki-cyan-600);

}

[data-theme="light"] {
  /* Light mode Colors */
  --tx: var(--flexoki-black);
  --bg: var(--flexoki-paper);
  --tx-2: var(--flexoki-600);
  --bg-2: var(--flexoki-50);
  --ui: var(--flexoki-100);
  --ac: var(--flexoki-cyan-600);
  --ac-2: var(--flexoki-cyan-200);
}

@media (prefers-color-scheme: cyan) {

  /* Dark Mode Colors */
  :root {
    --tx: var(--flexoki-200);
    --bg: var(--flexoki-black);
    --tx-2: var(--flexoki-400);
    --bg-2: var(--flexoki-950);
    --ui: var(--flexoki-900);
    --ac: var(--flexoki-cyan-200);
    --ac-2: var(--flexoki-cyan-600);
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}



/*     Scrollbar Styles
==================================
*/

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 50px;
  border: 2px solid var(--sb-track-color)
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}



/*     body
======================== 
*/

body {
  font-size: var(--font-size-0);
  font-family: var(--font-body);
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: -0.02em;
  word-spacing: 10%;
  font-weight: 400;
  /* text-wrap: pretty; */
  background-color: var(--bg);
  color: var(--tx);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::selection {
  background: var(--ac-2);
  color: var(--tx);
}

.site-grid {
  --gap: 0.9rem;
  --full: minmax(var(--gap), 1fr);
  --content: min(45rem, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  /* grid-template-rows: [view-start] auto [main-start] 1fr [main-end] auto [view-end]; */
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];


  min-block-size: 100vh;
  min-block-size: 100dvh;
}

.site-grid>* {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}


main {
  min-height: 75vh;
  position: relative;
  /* match padding-block-end with timestamp in postSlug */
  padding-block-end: 10rem;
  /* margin-block-end: 10rem; */
  /* display: flex;
  flex-direction: column;
  gap: 1.2rem; */
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

main>* {
  margin-block: 1.5rem;
}

h1+p::first-letter {
  font-size: calc(var(--font-size-0)*2);
  font-weight: normal;
  font-family: var(--font-first-character);
  line-height: 0.7;
  padding: 0 2px 2px 4px;
  float: left;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: normal;
  line-height: 1.2;
  text-wrap: wrap;
  margin-block: 2.5rem 1.5rem;
  word-spacing: 20%;
}

h1 {
  font-size: var(--font-size-4);
  letter-spacing: -0.10rem;
  word-spacing: 20%;
  text-align: center;
  margin-block-start: 4rem;
  text-wrap: pretty;
  margin-block-end: 5rem;
}

h2 {
  font-size: var(--font-size-3);
  letter-spacing: -0.05rem;
}

h3 {
  font-size: var(--font-size-2);
  letter-spacing: -0.05rem;
}

h4 {
  font-size: var(--font-size-1)
}

:is(h2, h3, h4, h5, h6) a {
  opacity: 0;
  transition: opacity 0.2s ease;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 0.65em;
  vertical-align: middle;
}

:is(h2, h3, h4, h5, h6):hover a {
  opacity: 1;
}

/* Ordered Lists */

ol {
  list-style: none;
  padding-left: 0;
  counter-reset: item;
  /* <-> before number dot (+ top & bottom) */
  margin: 1rem 0 1rem 0.2rem;
}

ol li {
  counter-increment: item;
  position: relative;
  /* number dot <-> li content */
  padding-left: 2rem;
  /* vertical spacing between 2 li */
  margin: 0.4rem 0;
}

ol li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  top: 0;
}

/* Unordered Lists */

ul {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 1rem 0.4rem;
}

ul li {
  position: relative;
  /* number dot <-> li content */
  padding-left: 1.5rem;
  /* vertical spacing between 2 li */
  margin: 0.4rem 0;
}

ul li::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
}

li:has(input[type="checkbox"]) {
  list-style-type: none;

  &::marker {
    content: none;
  }
}

/* Quotes */
blockquote {
  margin: 1.5em 0;
  padding-left: 1em;
  border-left: 3px solid var(--ac-2);
  color: var(--tx-2);
  font-style: italic;
}

/* Links */
a {
  color: inherit;
  text-decoration-color: var(--ac-2);
  text-underline-offset: 3px;
}

a:hover,
a:focus-visible {
  color: var(--ac);
}

a.external-link::after {
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 1em;

  vertical-align: middle;
  position: relative;
  top: -0.05em;
  background-color: currentColor;

  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"  fill=none><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z" /></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;

  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg>');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

/* 
*/
/* Images */
img {
  display: block;
  max-inline-size: 100%
}

/*     Tables
======================
 */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--tx);
  vertical-align: top;
  text-align: left;
}

thead {
  background: var(--bg-2);
}

.table-wrap {
  width: 100%;
  overflow-x: auto;
}