/*! Copyright Abhishek Singh, abhishe.com */

@import url(flexoki.css);
@import url(normalize.css);
@import url(typography.css);
/* @import url(debugger.css); */

/* @import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  scrollbar-gutter: stable;
  ;
}

/* @link https://utopia.fyi/type/calculator */
:root {

  /* 17 font on 360px --- 19 font on 1240px */
  /* 1.2 to 1.2 */
  --font-size--2: clamp(0.7378rem, 0.7023rem + 0.1578vw, 0.8247rem);
  --font-size--1: clamp(0.8854rem, 0.8428rem + 0.1894vw, 0.9896rem);
  --font-size-0: clamp(1.0625rem, 1.0114rem + 0.2273vw, 1.1875rem);
  --font-size-1: clamp(1.275rem, 1.2136rem + 0.2727vw, 1.425rem);
  --font-size-2: clamp(1.53rem, 1.4564rem + 0.3273vw, 1.71rem);
  --font-size-3: clamp(1.836rem, 1.7476rem + 0.3927vw, 2.052rem);
  --font-size-4: clamp(2.2032rem, 2.0972rem + 0.4713vw, 2.4624rem);
  --font-size-5: clamp(2.6438rem, 2.5166rem + 0.5655vw, 2.9549rem);

  /* 1.2 to 1.25 */

  /* --font-size--2: clamp(0.7378rem, 0.7288rem + 0.0403vw, 0.76rem);
  --font-size--1: clamp(0.8854rem, 0.859rem + 0.1174vw, 0.95rem);
  --font-size-0: clamp(1.0625rem, 1.0114rem + 0.2273vw, 1.1875rem);
  --font-size-1: clamp(1.275rem, 1.1893rem + 0.3807vw, 1.4844rem);
  --font-size-2: clamp(1.53rem, 1.3969rem + 0.5918vw, 1.8555rem);
  --font-size-3: clamp(1.836rem, 1.6383rem + 0.8788vw, 2.3193rem);
  --font-size-4: clamp(2.2032rem, 1.9185rem + 1.2654vw, 2.8992rem);
  --font-size-5: clamp(2.6438rem, 2.2429rem + 1.782vw, 3.624rem); */


  /* 1.2 to 1.333 */
  /* @link https://utopia.fyi/type/calculator?c=360,17,1.2,1240,19,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,m-l&g=s,l,xl,12 */
  /*   
  --font-size--2: clamp(0.6683rem, 0.7663rem + -0.1264vw, 0.7378rem);
  --font-size--1: clamp(0.8854rem, 0.8832rem + 0.0099vw, 0.8908rem);
  --font-size-0: clamp(1.0625rem, 1.0114rem + 0.2273vw, 1.1875rem);
  --font-size-1: clamp(1.275rem, 1.149rem + 0.5599vw, 1.5829rem);
  --font-size-2: clamp(1.53rem, 1.2927rem + 1.0546vw, 2.1101rem);
  --font-size-3: clamp(1.836rem, 1.4364rem + 1.7758vw, 2.8127rem);
  --font-size-4: clamp(2.2032rem, 1.5707rem + 2.8112vw, 3.7493rem);
  --font-size-5: clamp(2.6438rem, 1.6808rem + 4.28vw, 4.9979rem); 
  */

  /* Scrollbar vars */
  --sb-size: 14px;
  --sb-track-color: var(--bg);
  --sb-thumb-color: var(--tx-2);

  /* Colors */
  --tx: var(--flexoki-black);
  --bg: var(--flexoki-paper);
  --tx-2: var(--flexoki-600);
  --bg-2: var(--flexoki-50);
  --ui: var(--flexoki-100);
  --ac: var(--flexoki-cyan-600)
}

/*     Scrollbar Styles
==================================
*/

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 50px;
  border: 2px solid var(--sb-track-color)
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/*     Site Grid
======================== 
*/

.site-grid {
  --gap: 0.9rem;
  --full: minmax(var(--gap), 1fr);
  --content: min(45rem, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  /* grid-template-rows: [view-start] auto [main-start] 1fr [main-end] auto [view-end]; */
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];


  min-block-size: 100vh;
  min-block-size: 100dvh;
}

.site-grid>* {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}


/*     Random 
====================
*/
main {
  margin-block: 1.5rem;
  min-height: 70vh;
}

main>*+* {
  margin-top: 1.5rem;
}

/*     Tables
======================
 */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--tx);
  vertical-align: top;
  text-align: left;
}

thead {
  background: var(--bg-2);
}

.table-wrap {
  width: 100%;
  overflow-x: auto;
}