body {
    font-size: var(--font-size-1);
    font-family: "Roboto Condensed", system-ui, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    text-wrap: pretty;
    background-color: var(--bg);
    color: var(--tx);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: "Playfair Display", ui-serif, serif;
    line-height: 1.2;
    margin: 0.5rem 0 0.5rem;
    text-wrap: wrap;
}

h1 {
    font-size: var(--font-size-5);
    letter-spacing: -0.15rem;
}

h2 {
    font-size: var(--font-size-3);
    letter-spacing: -0.1rem;
}

h3 {
    font-size: var(--font-size-2);
    letter-spacing: -0.05rem;
}

h4 {
    font-size: var(--font-size-1)
}

li {
    margin: 0.5em 0;
}

ul li::marker {
    content: "ï¿«  ";
}

/* Quotes */
blockquote {
    margin: 1.5em 0;
    padding-left: 1em;
    border-left: 3px solid var(--bg-2);
    color: var(--tx-2);
    font-style: italic;
}

/* Links */
a {
    color: inherit;
}

a:hover,
a:focus-visible {
    color: var(--ac);
}

/* Images */
img {
    display: block;
    max-inline-size: 100%
}