---
import { getCollection, render } from "astro:content";
import { getSortedPublishedPosts, getFilteredPosts } from "@/utils/posts";

import Layout from "@/layouts/Layout.astro";
import ListPosts from "@/components/ListPosts.astro";

const allPosts = await getCollection("posts");
const allWritings = getFilteredPosts(allPosts, { category: "Writings" });
const filteredWritings = getSortedPublishedPosts(allWritings);
---

<Layout title="Abhishek Singh">
  <h1>Abhishek Singh</h1>
  <p>
    <strong>hellooo kind human!!!</strong> wish you a great year of success (⁠＾⁠∇⁠＾⁠)⁠ﾉ
  </p>
  <blockquote>Specialization is for insects. — Robert A. Heinlein</blockquote>
  <h2>Writings</h2>
  <ListPosts posts={filteredWritings} />
</Layout>

<style>
  h1 {
    display: none;
  }
  p {
    text-wrap: auto;
  }
</style>
