---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to
      <Link href="https://astro.build/">Astro</Link>
      <Link href="/now">NOWWWWWW PAGE</Link>
      <Link href="/about">Abbbbbbowwwt PAGE</Link>

      " message above.
    </p>
  </main>
</Layout>
