---
import { SITE } from "@/siteConfig";
import { getPostsByTags, getTags } from "@/utils/posts";

import Layout from "@/layouts/Layout.astro";
import ListPosts from "@/components/ListPosts.astro";

const writings = await getPostsByTags(["writings"]);
const resources = await getPostsByTags(["resources"]);
---

<Layout>
  <h1>{SITE.author}</h1>
  <div class="greeting">
    <strong class="emoticon">＾＾&nbsp&nbsp</strong>
    <i>hellooo kind human!!!</i>
    <br />wish you a great year of success!
  </div>

  <h2>Writings</h2>
  <ListPosts posts={writings} />
  <h2>Resources</h2>
  <ListPosts posts={resources} />
</Layout>

<style>
  h1 {
    display: none;
  }

  .greeting {
    text-align: center;
    padding-block: 2rem;
  }
</style>
