---
import Layout from "../layouts/Layout.astro";
import { Content } from "../../content/homepage.md";

const socials = [
  {
    title: "Email",
    href: "mailto:k@abhishe.com",
  },
  {
    title: "Twitter",
    href: "https://twitter.com/now7x",
  },
  {
    title: "GitHub",
    href: "https://github.com/3x10RaiseTo8",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/abhishek7x/",
  },
];
---

<Layout title="Abhishek Singh.">
  <Content />

  <p>
    I don't have any call to action yet but if you'd like to get in touch, DM
    me! I won't bite, I promise :D
  </p>
  <ul>
    {
      socials.map((social) => (
        <li>
          <a href={social.href}>{social.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
