---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
const socials = [
  {
    title: "GitHub",
    href: "https://github.com/3x10RaiseTo8",
  },
  {
    title: "Twitter",
    href: "https://twitter.com/now7x",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/abhishek7x/",
  },
  {
    title: "Email",
    href: "mailto:k@abhishe.com",
  },
];
---

<Layout title="Abhishek Singh">
  <blockquote>
    "Specialization is for Insects"

    <footer>— Robert A. Heinlein</footer>
  </blockquote>
  <p>
    Welcome to my digital garden. I code, I write, I build, I explore. Why
    choose one path when the world is vast?
  </p>
  <section>
    <aside>
      <h3>Coding</h3>
      <p>Building logic, breaking limits.</p>
    </aside>
    <aside>
      <h3>Writing</h3>
      <p>Ideas immortalized in words.</p>
    </aside>
    <aside>
      <h3>Business</h3>
      <p>Creating value in diverse fields.</p>
    </aside>
    <aside>
      <h3>Exploration</h3>
      <p>Curiosity leads the way.</p>
    </aside>
  </section>
  <p>Recently, I've been</p>
  <ul>
    <li>Scaling sales hiring for a mid-sized company</li>
    <li>Generative AI Agent with SQL, reasoning, complex branching.</li>
    <li>Molecular docking on an inhibitor protein</li>
  </ul>
  <p>If you'd like to get in touch, DM on any platform</p>
  <ul>
    {
      socials.map((social) => (
        <li>
          <Link href={social.href}>{social.title}</Link>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  blockquote {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    font-style: italic;
  }

  body {
    background-color: aliceblue;
  }
</style>
