---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
const socials = [
  {
    title: "GitHub",
    href: "https://github.com/3x10RaiseTo8",
  },
  {
    title: "Twitter",
    href: "https://twitter.com/now7x",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/abhishek7x/",
  },
  {
    title: "Email",
    href: "mailto:k@abhishe.com",
  },
];
---

<Layout title="Abhishek Singh">
  <div class="container">
    <h1>abhishe<span id="k">k</span>.</h1>
    <section>
      <p>
        Hello! I'm Abhishek, a generalist. I love learning and exploring new
        ideas.
      </p>
      <p>Here are some of the things I've been working on recently</p>
      <ul>
        <li>Hiring Pipelines</li>
        <li>Generative AI Agent with SQL, reasoning, complex branching.</li>
        <li>Molecular docking on an inhibitor protein</li>
      </ul>

      <p>If you'd like to get in touch, DM on any platform</p>
      <ul>
        {
          socials.map((social) => (
            <li>
              <Link href={social.href}>{social.title}</Link>
            </li>
          ))
        }
      </ul>
    </section>
  </div>

  <style>
    .container {
      max-width: 700px;
      margin: 20px auto;
      padding: 0 15px;
    }

    h1 {
      text-align: right;
      display: block;
      font-family:
        Bricolage Grotesque,
        sans-serif;
      font-weight: 800;
      font-stretch: condensed;
    }

    #k {
      font-weight: 200;
    }
  </style>
</Layout>
