---
const socials = [
  {
    title: "k@abhishe.com",
    href: "mailto:k@abhishe.com",
  },
  {
    title: "twitter",
    href: "https://twitter.com/now7x",
  },
  {
    title: "github",
    href: "https://github.com/3x10RaiseTo8",
  },
  {
    title: "linkedin",
    href: "https://www.linkedin.com/in/abhishek7x/",
  },
];
---

<footer class="popout">
  <section class="socials">
    {
      socials.map((social, index) => (
        <>
          <a class="social" href={social.href}>
            {social.title}
          </a>

          {index < socials.length - 1 && <span class="dot">•</span>}
        </>
      ))
    }
  </section>

  <small>
    <p>© 2024—present Abhishek Singh</p>
    <p>
      The content is licensed under
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        target="_blank"
        rel="noopener">CC BY-NC-SA 4.0</a
      >. The code is licensed under
      <a
        href="https://www.gnu.org/licenses/agpl-3.0.html"
        target="_blank"
        rel="noopener">GNU AGPL v3.0</a
      > and available <a
        href="https://github.com/3x10RaiseTo8/personal-website/">here</a
      >.
    </p></small
  >
</footer>

<style>
  footer {
    font-size: var(--font-size--2);
    text-align: center;
    grid-row: main-end / view-end;
  }

  small p {
    margin: 0;
  }

  .socials {
    padding-block: 20px;
  }
</style>
