---
import Link from "./Link.astro";

const navLinks = [
  {
    title: "Changelog",
    href: "/changelog",
  },
  {
    title: "Now",
    href: "/now",
  },
  {
    title: "Bookmarks",
    href: "/bookmarks",
  },
  {
    title: "Lists",
    href: "/lists",
  },
  {
    title: "Tags",
    href: "/tags",
  },
  {
    title: "GitHub",
    href: "https://github.com/3x10RaiseTo8",
  },
  {
    title: "Twitter",
    href: "https://twitter.com/now7x",
  },
  {
    title: "RSS",
    href: "/rss.xml",
  },
];
---

<footer>
  <br />
  <p>{new Date().getFullYear()} Abhishek Singh</p>
  <p>
    The code of this site is licensed under AGPL-3.0 <a
      href="https://github.com/3x10RaiseTo8/personal-website/">here</a
    >
  </p>
  <p>
    The content on this site is licensed under <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      style="display:inline-block;"
      >CC BY-NC-SA 4.0<img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
        alt=""
      /><img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
        alt=""
      /><img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
        alt=""
      /><img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
        alt=""
      /></a
    >
  </p>
  <p class="work-in-progress">
    This website is a work in progress. Expect frequent updates and changes!
  </p>
</footer>

<style>
  footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem; /* Smaller font size for footer */
    color: #555; /* Gray color for footer */
    padding: 20px;
  }
</style>
