---
import { SITE } from "@/siteConfig";

import { getFooterLinks } from "@/utils/links";
const footerLinks = getFooterLinks(SITE.links);
---

<footer>
  <section class="footer-links">
    <!-- prettier-ignore: Always save the file again without formatting -->
    {
      footerLinks.map((l) => (
        <a
          class="external-link"
          href={l.url}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >{l.text}</a>
      ))
    }
    <a href="/p/blogroll">blogroll</a>
    <a class="external-link" target="_blank" href="/rss.xml">rss</a>
  </section>

  <small>
    <p>{SITE.copyrightText}</p>
    <p>
      The content is licensed under
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        target="_blank"
        rel="noopener"
      >
        CC BY-NC-SA 4.0
      </a>. The code is licensed under
      <a
        href="https://www.gnu.org/licenses/agpl-3.0.html"
        target="_blank"
        rel="noopener"
      >
        GNU AGPL v3.0
      </a> and available <a
        href="/source"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        here
      </a>.
    </p>
  </small>
</footer>

<style>
  footer {
    font-size: var(--font-size--2);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block-start: 1.5rem;
  }

  small a {
    text-decoration-color: inherit;
  }

  small {
    border-block-start: 1px var(--tx) solid;
    padding-block: 1rem;
  }
  small p {
    margin: 0;
    color: var(--tx-2);
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: var(--font-size--1);
  }

  .footer-links a {
    text-decoration: none;
  }
</style>
