---
import { SITE } from "@/siteConfig";
import Abhishek from "@/assets/logos/abhishek-minified.svg";

import { getFooterLinks } from "@/utils/links";
const footerLinks = getFooterLinks(SITE.links);
---

<footer>
  <section class="footer-links">
    {
      footerLinks.map((l, index) => (
        <Fragment>
          <a class="social" href={l.url} target="_blank" rel="noopener">
            {l.text}
          </a>
          {index < footerLinks.length - 1 && <span class="dot"> • </span>}
        </Fragment>
      ))
    }
  </section>
  <Abhishek
    class="abhishek"
    fill-opacity={0.02}
    width={"90vw"}
    height={"auto"}
  />
  <small>
    <p>{SITE.copyright}</p>
    <p>
      The content is licensed under
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        target="_blank"
        rel="noopener">CC BY-NC-SA 4.0</a
      >. The code is licensed under
      <a
        href="https://www.gnu.org/licenses/agpl-3.0.html"
        target="_blank"
        rel="noopener">GNU AGPL v3.0</a
      > and available <a href="/source">here</a>.
    </p>
  </small>
</footer>

<style>
  footer {
    font-size: var(--font-size--1);
    text-align: center;
    /* grid-row: main-end / view-end; */
    padding-block-end: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    grid-column: full;
    min-block-size: 50vh;
  }

  small p {
    margin: 0;
    color: var(--tx-2);
  }

  .footer-links {
    padding-block: 20px;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 0.5rem;
  }

  .footer-links a {
    text-decoration: none;
  }

  .abhishek {
    display: block;
    align-self: center;
  }
</style>
