<header>
  <a href="/">
    <img class="logo" src="/logos/abhishek-thin-minified.svg" alt="abhishek" />
  </a>
  <hr />
</header>

<style>
  a:focus .logo,
  a:hover .logo {
    content: url("/logos/abhishek-minified.svg");
  }
</style>
