---
import { SITE } from "@/siteConfig";
import "@/styles/global.css";

import Abhishek from "@/assets/logos/abhishek-minified.svg";
---

<header>
  <a class="logo" href="/">
    <Abhishek height={20} width={"auto"} />
  </a>
  <nav>
    <ul>
      {
        SITE.headerLinks.map((item) => (
          <li>
            <a href={item.href}>{item.text}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    border-block-end: black solid 1px;
    grid-row: view-start / main-start;
    color: var(--tx-2);
  }

  a {
    text-decoration: none;
  }

  .logo {
    max-block-size: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: var(--font-size--1);
  }

  li::marker {
    content: "";
  }
</style>
