<header>
  <a class="logo" href="/">abhishe<span id="k">k singh</span>.</a>
</header>

<style>
  .logo {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    font-stretch: condensed;
    font-size: 1.5rem; /* Adjust size as needed */
    font-weight: bold; /* Makes text stand out */
    color: #000; /* Black (change to your brand color) */
    text-decoration: none; /* Removes underline */
  }

  #k {
    font-weight: normal;
  }
</style>
