---
import { SITE } from "@/siteConfig";
import "@/styles/global.css";

import Abhishek from "@/assets/logos/abhishek-minified.svg";
---

<header>
  <a class="logo-link" href="/">
    <Abhishek class={"logo"} />
  </a>
  <nav>
    <ul>
      {
        SITE.headerLinks.map((item) => (
          <li>
            <a href={item.href}>{item.text}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  ul,
  li,
  li::before {
    all: revert;
    padding: 0;
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    padding-inline: 0.4rem;
    border-block-end: var(--tx) solid 1px;
    /* grid-row: view-start / main-start; */
    color: var(--tx);
  }

  .logo {
    height: 20px;
    width: auto;
  }

  a {
    text-decoration: none;
  }

  .logo-link {
    max-block-size: var(--font-size-1);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: var(--font-size--2);
  }

  li {
    margin: 0;
  }
  li::marker {
    content: "";
  }
</style>
