---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header
  class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
  <nav class="fixed left-0 top-0 hidden h-full w-56 bg-gray-200 py-4 md:block">
    <!-- Navigation Menu for Desktop -->
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <nav class="fixed bottom-0 left-0 block w-full bg-gray-200 py-4 md:hidden">
    <!-- Navigation Menu for Mobile -->
    <ul class="flex justify-around">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
