---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, ...attrs } = Astro.props;

const isExternalLink = (url: string) => {
  try {
    const currentHost = Astro.url.hostname;
    const linkHost = new URL(url, Astro.url.href).hostname;
    return currentHost !== linkHost;
  } catch {
    return false;
  }
};

const external = href ? isExternalLink(href.toString()) : false;
---

<a
  {...attrs}
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
