---
import { type TagInfo } from "@/utils/posts";

interface Props {
  tags: TagInfo[];
}

const { tags = [] } = Astro.props;
---

<div class="tag-list">
  {
    tags.map((tag) => (
      <a href={`/t/${tag.slug}`} class="tag">
        <span class="hashtag">#</span>
        {tag.label}
      </a>
    ))
  }
</div>

<style>
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5rem;
  }
  .tag {
    /* display: inline-flex; */
  }
  .hashtag {
    font-size: var(--font-size--1);
    text-decoration: none;
    color: var(--tx-2);
  }
</style>
