---
import { type TagInfo } from "@/utils/posts";

interface Props {
  tags: TagInfo[];
}

const { tags = [] } = Astro.props;
---

<Fragment>
  <h2>All Tags</h2>
  <div class="tag-list">
    {
      tags.map((tag) => (
        <a href={`/t/${tag.slug}`} class="tag">
          <span class="hashtag">#</span>
          {tag.label}
        </a>
      ))
    }
  </div>
</Fragment>
<style>
  h2 {
    display: none;
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.3rem 1rem;
    font-size: var(--font-size--1);
    justify-content: center;
  }

  .hashtag {
    font-size: var(--font-size--2);
    text-decoration: none;
    color: var(--tx-2);
  }
</style>
