---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Abhishek: Projects">
  <h2>/projects</h2>
  <ul>
    <li><a href="/projects/cagr">CAGR:Multiplier:Years</a></li>
  </ul>
</Layout>
