---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueCategories = [
    ...new Set(allPosts.map((post: any) => post.data.category)),
  ];

  return uniqueCategories.map((category) => {
    const filteredPosts = allPosts.filter(
      (post: any) => post.data.category === category
    );

    return {
      params: { categorySlug: category },
      props: { posts: filteredPosts },
    };
  });
}

const { categorySlug } = Astro.params;
const { posts } = Astro.props;
---

<Layout>
  <h1>{categorySlug}</h1>
  <ul>
    {
      posts.map((post: any) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
