---
import { SITE } from "@/config";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "modern-normalize/modern-normalize.css";
import "../styles/global.css";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
  pubDatetime?: Date;
  modDatetime?: Date | null;
  scrollSmooth?: boolean;
}
---

<html lang={SITE.lang} dir={SITE.dir}>
  <Head />
  <body>
    <Header />
    <main class="sl-">
      <slot />
    </main>
    <Footer />
  </body>
</html>
